<section id='modal-main'>
	<div id='img-wrapper'>
		<%= image_tag @post.image.url(:medium) %>
	</div>
	<section id='user-options'>
		<% if current_user %>
			<% if current_user.id == @post.user_id %>
				<%= link_to 'Delete', post_path(@post), method: :delete, :confirm => "Are you sure you would like to delete this post?" %>
				<%= link_to 'Edit', edit_post_path(@post) %>
			<% end %>
		<% end %>
	</section>
</section>
<section id='modal-comments'>
	<div id='img-info'>
		<strong id='username'><%= @user.username %></strong>
		<strong id='caption'><%= @post.caption %></strong>
		<section id='like-links'>
			<span><%= pluralize(@post.likes.count, 'like') %></span>
			<div id="link-name">
				<% if current_user %>
					<% if @post.likes.find_by(:user_id => current_user.id).nil? %>
						<%= link_to 'Like', post_likes_path(@post), id: 'like-link', method: :post, :remote => true %>
					<% else %>
						<%= link_to 'Unlike', post_likes_path(@post), id: 'like-link', method: :post, :remote => true %>
					<% end %>
				<% end %>
			</div>
		</section>
	</div>
	<section id='comments-list'>
		<ul class='list-group'>
			<% @post.comments.each do |comment| %>
			<li class='list-group-item'>
				<div id='comment-text'>
					<%= comment.text %>
				</div>
				<div id='comment-user'>
					<%= comment.username %>
				</div>
			</li>
			<% end %>
		</ul>
	</section>
<%= render 'comments/new' %>
</section>